
<div class="row">
    <div class="vfurnizori-table col-12" *ngIf="sharedInfo.furnizoriView != null && sharedInfo.furnizoriView.length > 0">
        <table>
                    <tr>
                           <th class="table-header">Nume furnizor</th>
                           <th class="table-header">Data  Contract</th>

                       </tr>
            <tr *ngFor="let t1 of sharedInfo.furnizoriView">
                <th class="table-row" *ngFor="let t2 of t1">{{t2}}</th>
            </tr>
        </table>

    </div>
</div>

