
<div class="row">
    <div class="pctd-table col-12" *ngIf="sharedInfo.pctdQuery != null && sharedInfo.pctdQuery.length > 0">
        <table>
             <tr>
                 <th class="table-header">Numar tranzactii</th>
                 <th class="table-header">Nume angajat</th>
                 <th class="table-header">Prenume angajat</th>
                 <th class="table-header">Salariu angajat</th>
                 <th class="table-header">Functie angajat</th>
                 <th class="table-header">Data angajarii</th>
            
             </tr>
            <tr *ngFor="let t1 of sharedInfo.pctdQuery">
                <th class="table-row" *ngFor="let t2 of t1">{{t2}}</th>
            </tr>
        </table>

    </div>
</div>