
<div class="row" >
    <div class="pctc-table col-12" *ngIf="sharedInfo.pctcQuery != null && sharedInfo.pctcQuery.length > 0">
        <table>
            <tr>
                <th class="table-header">ID Angajat</th>
                <th class="table-header">Nume angajat</th>
                <th class="table-header">Prenume Angajat</th>
                <th class="table-header">ID Tranzactie </th>
                <th class="table-header">Id Client</th>
                <th class="table-header">Data tranzactiei</th>
                <th class="table-header">Total</th>
                <th class="table-header">Prenume client</th>
                <th class="table-header">Denumire produs</th>
                <th class="table-header">Tip produs</th>
            </tr>
            <tr *ngFor="let t1 of sharedInfo.pctcQuery">
                <th class="table-row" *ngFor="let t2 of t1">{{t2}}</th>
            </tr>
        </table>

    </div>
</div>